{% extends "base.html"%}
{% block content %}
<h1>Your top Universities</h1>
<p>Choose from this list universities to explore on what kind of courses they have</p>
<table>
  <thead>
    <tr>
      <th>Institution Name</th>
      <th>Country</th>
      <th>Academic Reputation</th>
      <th>Employer Reputation</th>
      <th>Research Output</th>
      <th>Student Faculty</th>
      <th>Click to explore more</th>
    </tr>
  </thead>
  <tbody>
    {% for row in all %}
      {% if forloop.counter < 6 %}
        <tr>
        <td>{{ row.Institution_Name }}</td>
        <td>{{ row.Country }}</td>
        <td>{{ row.Academic_Reputation_SCORE }}</td>
        <td>{{ row.Employer_Reputation_SCORE }}</td>
        <td>{{ row.Citations_per_Faculty_SCORE }}</td>
        <td>{{ row.Faculty_Student_SCORE }}</td>
        <td><a class="nav-item nav-link" href="#">Visit Site</a></td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>

</table>
{% endblock content%}
